/* COLORS */

@media (prefers-color-scheme: light) {
	:root:not([data-theme]) {
		--background-color: #E8E4EA;
		--card-background-color: #FFFFFF;
		--table-row-stripped-background-color: #E6E9EA;
	}
}

:root[data-theme=light] {
		--background-color: #E8E4EA;
		--card-background-color: #FFFFFF;
		--table-row-stripped-background-color: #E6E9EA;
}

input[type=search] {
	background-color: var(--card-background-color);
}

/* MAIN MENU */

#aleph-logo {
	font-weight: bold;
	font-size: 2em;
	color: var(--contrast);
	text-decoration: none;
}

#aleph-logo:hover {
	text-decoration: underline;
}

.menu {
	padding: 16px 32px;
	background-color: var(--card-background-color);
	border-bottom: var(--color) solid 2pt;
}

/* CONTAINERS */

.container, .container-fluid {
	text-align: center;
	padding-top: 32px;
}

.container-fluid {
	max-width: 1200px;
}


article {
	text-align: left;
	margin: 16px 0;
	padding: 32px;
}

/* MISC. */

.p-0 {
	padding: 0;
}

.data {
	margin-bottom: 24px;
	font-size: 1.2em;
	font-weight: bold;
}

/* FLASH MESSAGES */

.error {
	color: red;
	margin-bottom: 16px;
}

/* TYPOGRAPHY */

mark {
	padding: 0;
}

h1, h2, h3 {
	margin-bottom: 0.2em;
}

/* TABLES */

table a {
	--color: var(--color);
}

thead th, thead label {
	font-weight: bold;
}

th input[type=radio] {
	display: none;
}
