/* COLORS */

@media (prefers-color-scheme: light) {
	:root:not([data-theme]) {
		--background-color: #E8E4EA;
		--card-background-color: #FFFFFF;
		--table-row-stripped-background-color: #E6E9EA;
	}
}

:root[data-theme=light] {
		--background-color: #E8E4EA;
		--card-background-color: #FFFFFF;
		--table-row-stripped-background-color: #E6E9EA;
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--background-color: #121417;
		--card-background-color: black;
		--table-row-stripped-background-color: #0C1012;
	}
}

:root[data-theme=dark] {
		--background-color: #121417;
		--card-background-color: black;
		--table-row-stripped-background-color: #0C1012;
}

/* MAIN MENU */

#aleph-logo {
	font-weight: bold;
	font-size: 2em;
	color: var(--contrast);
	text-decoration: none;
}

#aleph-logo:hover {
	text-decoration: underline;
}

.menu {
	padding: 16px 32px;
	background-color: var(--card-background-color);
	border-bottom: var(--color) solid 2pt;
}
