{% extends 'base.html' %}

{% block title %}New student{% endblock %}

{% block main %}
	<h1 style="text-align: center; margin-bottom: 32px">New student</h1>
	<article>
		<div id="student">
			<h2>Student</h2>
			{% if request.method == 'GET' %}
				<form autocomplete="off"
					  hx-post
					  hx-target="main"
					  hx-select="main">
					{% include 'students/student_form.html' %}
					{% for type, message in get_flashed_messages(True) %}
						<div class="{{ type }}">
							{{ message }}
						</div>
					{% endfor %}
					<div class="grid">
						{# TODO: Implement cancel #}
						<button class="secondary">
							Cancel
						</button>
						<button type="submit">Save</button>
					</div>
				</form>
			{% else %}
				{% set readonly = True %}
				{% include 'students/student_form.html' %}
				<button hx-get
						hx-select="#student"
						hx-target="#student">Add next</button>
			{% endif %}
		</div>
	</article>
{% endblock %}
