{% from 'table.html' import table %}
{% extends 'base.html' %}

{% block title %}Students{% endblock %}

{% block main %}
	<h1>Students</h1>
	{% call table('students', students, {
		'add':     ('href', url_for('students.add')),
		'delete':  ('bulk', 'delete'),
		'message': ('bulk', {
			'send sms':   ('bulk', 'sms'),
			'send email': ('bulk', 'email'),
		}),
		'print': ('href', 'javascript:window.print()')
	}, sort_by='student_name') %}
	<thead>
		<tr>
			<th><input type="checkbox" x-bind="select_all"></th>
			<th x-bind="sort('student_name')">student</th>
			<th x-bind="sort('group_name')">group</th>
			<th>phone</th>
			<th>email</th>
		</tr>
	</thead>
	<tbody>
		{% for student in students %}
			<tr>
				<td>
					<input type="checkbox"
						   x-bind="select_item({{ student.student_id }})">
				</td>
				<td>
					<a href="{{ url_for('students.student', id=student.student_id) }}">
						{{ student.student_name | highlight(request.args.get('search')) | nbsp  }}
					</a>
				</td>
				<td>
					{%- if student.group_id %}	
					<a href="{{ url_for('groups.group', id=student.group_id) }}">
						{{ student.group_name | nbsp }}
						<i>{{ student.group_level }}</i>
					</a>
				{% endif %}
				</td>
				<td>
					<a href="{{ url_for('students.sms') }}?parent={{ student.parent_id }}">
						{{ student.phone | phone_number | nbsp }}
					</a>
				</td>
				<td>
					<a href="{{ url_for('students.email') }}?parent={{ student.parent_id }}">
						{{ student.email }}
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
	{% endcall %}
{% endblock %}
