{% extends 'base.html' %}

{% set student_name = student.first_name ~ ' ' ~ student.last_name %}

{% block title %}{{ student_name }}{% endblock %}

{% block main %}
	<h1 style="text-align: center; margin-bottom: 32px">Student</h1>
	<article>
		<div id="student">
			<h2>{{ student_name }}</h2>
			{% if 'edit' in request.args %}
				<form autocomplete="off"
					  hx-put="{{ url_for('students.student', id=student.student_id) }}"
					  hx-push-url="true"
					  hx-target="main"
					  hx-select="main"
					  hx-swap="outerHTML"
					  x-data
					  @keydown.enter.prevent="$refs.submit.click()">
					{% include 'students/student_form.html' %}
					<div class="grid">
						<button class="secondary"
								hx-push-url="true"
								hx-get="{{ url_for('students.student', id=student.student_id) }}">
							Cancel
						</button>
						<button x-ref="submit" type="submit">Save changes</button>
					</div>
				</form>
			{% else %}
				{% set readonly = True %}
				{% include 'students/student_form.html' %}
				<div class="grid">
					<details role="list">
						<summary style="text-align: center"
								 role="button"
								 class="secondary">
							Message
						</summary>
						<ul role="listbox">
							<li><a href="sms">send sms</a></li>
							<li><a href="email">send email</a></li>
						</ul>
					</details>
					<button hx-get="?edit"
							hx-push-url="true"
							hx-select="#student"
							hx-target="#student"
							hx-swap="outerHTML">Edit</button>
					<button class="delete"
							hx-vals='{"students": [{{ student.student_id }}]}'
							hx-get="{{ url_for('students.delete') }}"
							hx-target="#dialog"
							hx-swap="innerHTML">Delete</button>
				</div>
			{% endif %}
		</div>
	</article>
	{% if siblings %}
		<article>
			<h3>Siblings</h3>
			{% for sibling in siblings %}
				<ul>
					<li>
						<a href="{{ url_for('students.student', id=sibling.student_id) }}">
							{{ sibling.student_name }}
						</a>
						{% if sibling.group_id %}
							(
							<a href="{{ url_for('groups.group', id=sibling.group_id) }}">
								{{ sibling.group_name }} {{ sibling.group_level }}
							</a>
							)
						{% endif%}
					</li>
				</ul>
			{% endfor %}
		</article>
	{% endif %}
	<article>
		<h3>Payment</h3>
		{% if payments %}
			<table>
				{% for payment in payments %}
					<tr>
						<td>{{ payment.title }}</td>
						<td>{{ payment.date }}</td>
						<td>{{ "%.2f" | format(payment.paid) }}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			No payments
		{% endif %}
	</article>
{% endblock %}
