<div class="grid">
	<div>
		{{ student.first_name.label }}
		<div class="data">
			{{ student.first_name.data }}
		</div>
	</div>
	<div>
		{{ student.last_name.label }}
		<div class="data">
			{{ student.last_name.data }}
		</div>
	</div>
	<div>
		{{ student.group_id.label }}
		<div class="data">
			<a href="/groups/{{ student.group_id.data }}">
				Group {{ student.group_id.data }}
			</a>
		</div>
	</div>
</div>
<h3>Parent</h3>
<div class="grid">
	<div>
		{{ parent.first_name.label }}
		<div class="data">
			{{ parent.first_name.data }}
		</div>
	</div>
	<div>
		{{ parent.last_name.label }}
		<div class="data">
			{{ parent.last_name.data }}
		</div>
	</div>
</div>
<div class="grid">
	<div>
		{{ parent.phone.label }}
		<div class="data">
			<a href="sms/{{ student.parent_id.data }}">
				{{ parent.phone.data | phone_number }}
			</a>
		</div>
	</div>
	<div>
		{{ parent.email.label }}
		<div class="data">
			<a href="email/{{ student.parent_id.data }}">
				{{ parent.email.data }}
			</a>
		</div>
	</div>
</div>
