{% extends 'base.html' %}

{% set add = namespace(table='groups') %}
{% include 'add.html' %}

{% block title %}New group{% endblock %}

{% block main %}
	<h1 style="text-align: center; margin-bottom: 32px">New group</h1>
	<article>
		<div id="group">
			<h2>Group</h2>
			{% if request.method == 'GET' %}
				<form {{ add.add }}>
					{% include 'groups/group_form.html' %}
					<div class="grid">
						{{ add.cancel }} {{ add.save }}
					</div>
				</form>
			{% else %}
				{% set readonly = True %}
				{% include 'groups/group_form.html' %}
				{{ add.next }}
			{% endif %}
		</div>
	</article>
{% endblock %}
