{% if not readonly %}
	<div class="grid">
		<div>
			{{ form.name.label }}
			{{ form.name }}
		</div>
		<div>
			<div style="display: inline-block; width: 220px">
				<label>
					Level&emsp;
					<a {{ dialog(url_for('groups.levels')) }}>edit levels</a>
				</label>
				{{ form.level_id }}
			</div>
			{# <button style="display: inline-block; width: 110px; padding: 8px" #}
			{# 		hx-get="{{ url_for('groups.levels') }}" #}
			{# 		hx-push-url="false" #}
			{# 		hx-select="dialog" #}
			{# 		hx-swap="innerHTML" #}
			{# 		hx-target="#dialog">Edit levels</button> #}
		</div>
	</div>
	<div class="grid">
		<div>
			<label>Teachers&emsp;
				<a {{ dialog(url_for('groups.teachers')) }}>
					edit teachers
				</a>
			</label>
			<ul>
				{% for teacher in ['Robert', 'Alex'] %}
					<li>
						{{ teacher }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<label>Lessons</label>
		</div>
	</div>
{% else %}
	<div class="grid">
		<div>
			{{ form.name.label }}
			<div class="data">
				{{ group.name }}
			</div>
		</div>
		<div>
			{{ form.level_id.label }}
			<div class="data">
				{{ group.level }}
			</div>
		</div>
	</div>
	<div class="grid">
		<div>
			<label>Teachers</label>
			<ul>
				{% for teacher in ['Robert', 'Alex'] %}
					<li>{{ teacher }}</li>	
				{% endfor %}
			</ul>
		</div>
		<div>
			<label>Lessons</label>
		</div>
	</div>
{% endif %}
