{% from 'table.html' import table %}
<dialog open 
		@keydown.window.escape="$el.remove()"
		x-data="{levels: [{{ levels | map(attribute='name') | map('quotes') | join(', ') }}]}">
	<article style="width: 500px; --typography-spacing-vertical: 0">
		<h2>Levels</h2>
		<ul style="padding: 0"
			x-init="Sortable.create($el, {animation: 150, onSort(e) {console.log([...document.querySelectorAll('.level')].map(el => el.dataset.level))}})">
			<template x-for="level in levels">
				<li class="level" :data-level="level">
					<input style="width: 256px"
						   :value="level"></span>
					<button style="display: inline-block; width: 128px"
							class="delete"
							@click="$data.levels.pop()">
						Remove
					</button>
				</li>
			</template>
		</ul>
		<input type="text" x-ref="input">
		<button style="width: 58px; height: 45px; padding: 8px"
				@click="$data.levels.push($refs.input.value)">
			Add
		</button>
		<button @click="$root.remove()" class="secondary">Close</button>
	</article>
</dialog>
